.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .video__description {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .video__createdAt {
    font-size: 8px;
    margin-bottom: 15px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
  .video__btns {
    display: flex;
    justify-content: space-around;
    width: 400px;

    .video__btn {
      background-color: #e77c72;
      padding: 5px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
  }
}

.video__comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  textarea {
    margin-bottom: 30px;
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
}
