extends ../base.pug

block content
    if errorMessage 
        span=errorMessage
    form(method="post") 
        input(name="old", type="password", placeholder="Old Password")
        input(name="password", type="password", placeholder="New Password")
        input(name="password2", type="password", placeholder="New Password Confirmation")
        input(type="submit", value="Change Password")